* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #5c2dd5;
  --main-menu-rectangle-purp: #7945ff;
}
body {
  height: 100vh;
  background-color: var(--background);
  display: grid;
  place-items: center;
}

.main-menu-group-6 {
  width: 480px;
  height: 435px;
  background-color: var(--main-menu-rectangle-purp);
  border-radius: 40px;
  border: 3px solid black;
  box-shadow: 0px 10px black;
  display: grid;
  place-items: center;
}
.button-holder {
  display: grid;
  row-gap: 25px;
}
.play-button {
  border-radius: 20px;
  background-color: #ffce67;
  height: 72px;
  width: 400px;
  border: 3px solid black;
  box-shadow: 0px 10px black;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding-left: 15px;
}
.play-button svg {
  place-self: center end;
  margin-right: 25px;
}
.rules-button {
  background-color: white;
  height: 72px;
  width: 400px;
  border-radius: 20px;
  border: 3px solid black;
  box-shadow: 0px 10px black;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  padding-left: 15px;
}
