/* GENERIC STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-purple: #5c2dd5;
  --purple: #7945ff;
  --Red: #fd6687;
}
main {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Space Grotesk";
}

button {
  font-family: "Space Grotesk";
  cursor: pointer;
}
.menu-button {
  width: 400px;
  height: 72px;
  border-radius: 20px;
  border: 3px solid black;
  box-shadow: 0px 10px black;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
/* MAIN PAGE STYLES */

.main-page {
  background-color: var(--dark-purple);
}

.main-menu-group-6 {
  width: 480px;
  height: 435px;
  background-color: var(--purple);
  border-radius: 40px;
  border: 3px solid black;
  box-shadow: 0px 10px black;
  display: grid;
  place-items: center;
}
.button-holder {
  display: grid;
  row-gap: 25px;
  place-items: center;
}
.play-button {
  border-radius: 20px;
  background-color: #ffce67;
  height: 72px;
  width: 400px;
  border: 3px solid black;
  box-shadow: 0px 10px black;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  padding-left: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.play-button svg {
  place-self: center end;
  margin-right: 25px;
}
.rules-button {
  background-color: white;
  height: 72px;
  width: 400px;
  border-radius: 20px;
  border: 3px solid black;
  box-shadow: 0px 10px black;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  padding-left: 15px;
}

/* GAME PAGE STYLES */

.game-page {
  background-color: var(--purple);
}

.menu-container {
  width: 635px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.generic-button {
  border-radius: 50px;
  height: 40px;
  padding: 2px 15px;
  border: none;
  background-color: var(--dark-purple);
  color: white;
  font-weight: 700;
}

.game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1000px;
}

.score-box {
  border-radius: 20px;
  background-color: white;
  height: 160px;
  width: 140px;
  border: 3px solid black;
  box-shadow: 0px 10px black;
  position: relative;

  display: grid;
  justify-items: center;
  padding: 10px;
}

.score-box svg {
  position: absolute;
  top: -30px;
}

.name {
  padding-top: 30px;
  font-size: 20px;
}

.score {
  font-size: 56px;
  font-weight: 700;
}

.game-board {
  position: relative;
  width: 1000px;
  height: 600px;

  display: grid;
  justify-items: center;
}

.game-board div {
  position: absolute;
}

.timer {
  position: absolute;
  bottom: -110px;
}

.timertextcontainer {
  position: absolute;
  top: 50px;
  left: 30px;
  display: grid;
  justify-items: center;
}
.seconds {
  font-size: 56px;
  font-weight: 700;
}
.in-game-menu-box {
  width: 480px;
  height: 435px;
  background-color: var(--purple);
  display: grid;
  place-items: center;
  font-weight: 700;
  font-size: 56px;
  color: white;
  border-radius: 40px;
  border: 3px solid black;
  box-shadow: 0px 10px black;
  padding-bottom: 15px;
}
.quit-game {
  background-color: var(--Red);
  color: white;
}
